
/* Typography */

$main-font: "SfuiDisplayRegular", arial, helvetica, sans-serif;
$SfuiDisplayLight: "SfuiDisplayLight", arial, helvetica, sans-serif;
$SfuiDisplayBold: "SfuiDisplayBold", arial, helvetica, sans-serif;
$DepositProLight: "DepositProLight", arial, helvetica, sans-serif;
$BebasNeueLight: "BebasNeueLight", arial, helvetica, sans-serif;
$BebasNeueBold: "BebasNeueBold", arial, helvetica, sans-serif;
$font-size-base: 16px;
$line-height-base: 24px;


/*Background*/
$body-bg: #fff;

/*Color*/

$text-color: #fff;
$black-color: #000;
$green-color: #94c046;
$dark-black-color: #282828;
$gray-color: #f0f0f0;
$blue-color: #489cc6;
$border-color: #e6e6e6;
$placeholder-color: #9b9b9b;