.about{
	color: $black-color;
	font-size: 14px;
	line-height: 1.5;
	&-hold{
		font-weight: bold;
		margin: 0 0 10px;
		p{
			margin: 0 0 5px;
		}
		a{
			color: $black-color;
			padding: 0 3px;
		}
	}
	&-list{
		counter-reset: item 0;
		li{
			position: relative;
			padding: 0 0 0 15px;
			margin: 0 0 10px;
			&:before{
				content: counters(item, "+1", decimal) ".";
				counter-increment: item;
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}
	&-form{
		max-width: 500px;
		width: 100%;
		padding: 20px 0 0;
	}
	@media (max-width: 539px){
		font-size: 13px;
	}
}