.box-social{
	margin: 0 0 20px;
	&__title{
		font-weight: 600;
	    margin: 0 0 10px;
	}
}
.list-social{
	display: flex;
	&__link{
		height: 35px;
		width: 35px;
		margin: 0 5px 0 0;
		transition: opacity 0.2s ease;
	}
	&:hover &__link{
		opacity: 0.5;
	}
	&:hover &__link:hover{
		opacity: 1;
	}
}