.description{
	overflow: hidden;
	&-box{
		position: relative;
		background: #fafafa;
		color: #4D4D4D;
		padding: 15px;
		margin: 0 0 30px;
		border-radius: 5px;
		border-bottom: 1px solid #fff;
	}
	&-title{
		font-size: 21px;
		line-height: 1.4;
		font-weight: 600;
		margin: 0 0 10px;
	}
	&-text{
		padding: 10px 0;
		margin: 0 0 10px;
		border-top: 1px dotted #ddd;
		border-bottom: 1px dotted #ddd;
		a{
			color: #111;
			&:hover{
				text-decoration: underline;
				color: $red-color;
			}
		}
	}
	&-hold{
		margin: 0 0 30px;
	}
	&-link{
		overflow: hidden;
		position: relative;
		display: inline-block;
		vertical-align: top;
		color: $main-color;
		padding: 0 0 0 10px;
		margin: 0 0 0 20px;
		strong{
			text-transform: uppercase;
		}
		&:before{
			content: "";
			position: absolute;
			background: url("../img/arrow.png");
			height: 22px;
			width: 22px;
			top: 50%;
			left: -8px;
			transform: translateY(-50%) rotate(-90deg);
		}
		&:after{
			content: "";
			position: absolute;
			background: $red-color;
			height: 1px;
			left: 10px;
			right: 0;
			bottom: 0;
			transform: scale(0);
			transition: transform 0.2s ease;
		}
		&:hover{
			color: $red-color;
			&:after{
				transform: scale(1);
			}
		}
	}
	@media (max-width: 539px){
		&-title{
			font-size: 15px;
		}
		&-link{
			margin: 0;
		}
	}
}