.list-pages{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	margin: 0 0 20px;
	&__item{
		margin: 2px 2px 5px;
		&-active{
			.list-pages__link{
				border-color: #111;
				font-weight: bold;
			}
		}
		&-default{
			pointer-events: none;
		}
	}
	&__link{
		display: block;
		font-size: 11px;
		line-height: 1.2;
		color: #111;
		border: 1px solid #BFBFBF;
		padding: 3px 5px;
		transition: border-color 0.2s ease;
		&:hover{
			color: $red-color;
			text-decoration: underline;
			border-color: #111;
		}
		.num{
			padding: 0 3px;
		}
	}
	@media (max-width: 1023px){
		justify-content: center;
	}
}