.list-info{
	display: flex;
	flex-wrap: wrap;
	margin: 0 0 100px;
	&__item{
		text-align: center;
		display: flex;
		flex-direction: column;
		width: 33.3%;
		padding: 0 10px;
		margin: 0 0 20px;
	}
	&__icon{
		background: $red-color;
	    height: 57px;
	    width: 57px;
	    padding: 18px;
	    border-radius: 100px;
	    margin: 0 auto 15px;
		svg{
			fill: $white-color;
			height: 100%;
			width: 100%;
		}
	}
	&__title{
		font-size: 18px;
		line-height: 1.2;
	    text-transform: uppercase;
	    margin: 0 0 15px;
	}
	&__link{
		position: relative;
		font-size: 13px;
		line-height: 1.2;
		color: $red-color;
		&:after{
			content: "";
			position: absolute;
			background: $red-color;
			height: 1px;
			left: 0;
			right: 0;
			bottom: 0;
			transform: scale(0);
			transition: transform 0.2s ease;
		}
		&:hover:after{
			transform: scale(1);
		}
	}
	@media (max-width: 1023px){
		margin: 0 0 50px;
	}
	@media (max-width: 767px){
		justify-content: center;
		margin: 0 0 30px;
		&__item{
			width: 50%;
		}
	}
	@media (max-width: 480px){
		&__item{
	    	width: 100%;
	    }
	}
}