.menu-gallery{
	overflow: hidden;
	padding: 30px 40px 25px;
	&__item{
		text-align: center;
		padding: 0 10px;
	}
	&__img{
		display: block;
		max-width: 188px;
		width: 100%;
		margin: 0 auto 20px;
		transition: opacity 0.2s ease;
		&:hover{
			opacity: 0.8;
		}
	}
	&__title{
		font-size: 14px;
		line-height: 1.2;
	    font-weight: 600;
	    text-transform: uppercase;
	    margin: 3px 0 6px 0;
	}
}