.news{
	overflow: hidden;
	text-align: center;
	position: relative;
	width: 33.3%;
    padding: 10px;
    margin: 0 0 20px;
    &:hover{
    	.news-effect{
    		opacity: 1;
    		&__icon{
		    	height: 60px;
		    	width: 60px;
		    	border-radius: 100px;
		    }
    	}

    }
    &-list{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		border-top: 1px dotted #ddd;
		border-bottom: 1px dotted #ddd;
		padding: 20px 0 0;
		margin: 0 0 20px;
	}
    &-img{
    	margin: 0 0 10px;
    }
    &-title{
	    font-size: 13px;
	    line-height: 1.2;
	    font-weight: 600;
	    text-transform: uppercase;
	    margin: 0 0 10px;
	    &__sub{
	    	font-size: 10px;
	    	line-height: 1.2;
		    text-transform: uppercase;
		    color: $red-color;
		    margin: 0 0 5px;
	    }
    }
    &-effect{
    	overflow: hidden;
    	position: absolute;
    	background: rgba(0, 0, 0, 0.05);
    	top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    width: 100%;
	    height: 100%;
	    transition: all 0.5s ease;
	    border-radius: 5px;
	    z-index: 1;
	    opacity: 0;
	    &__icon{
	    	position: absolute;
	    	display: flex;
	    	justify-content: center;
	    	align-items: center;
	    	top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    margin: auto;
		    width: 100%;
		    height: 100%;
		    border: solid 5px #fff;
		    transition: all 0.5s ease;
		    z-index: 2;
		    svg{
		    	fill: $white-color;
		    	height: 30px;
		    	width: 30px;
		    }
	    }
    }
    @media (max-width: 767px){
    	width: 50%;
	}
    @media (max-width: 539px){
    	width: 100%;
	}
}