.products-gallery{
    overflow: hidden;
    margin: 0 0 100px;
    &__item{
        text-align: center;
        font-size: 11px;
        line-height: 1.2;
        color: $main-color;
        padding: 0 20px;
    }
    &__img{
        overflow: hidden;
        display: block;
        max-width: 150px;
        width: 100%;
        margin: 0 auto 10px;
        transition: opacity 0.2s ease;
        &:hover{
            opacity: 0.8;
        }
    }
    &__title{
        font-size: 14px;
        line-height: 1.2;
        font-weight: 600;
        text-transform: uppercase;
        margin: 0 0 6px;
    }
    p{
        margin: 0 0 20px;
    }
    @media (max-width: 1023px){
        margin: 0 0 50px;
    }
    @media (max-width: 767px){
        margin: 0 0 30px;
    }
}