.search{
    display: flex;
    justify-content: flex-end;
    width: 220px;
    padding: 0 0 0 20px;
    &-form{
        position: relative;
    }
    &-input{
        background: #E5E5E5;
        max-width: 160px;
        width: 100%;
        font-size: 14px;
        line-height: 16px;
        color: #666;
        padding: 6px 15px 6px 35px;
        border-radius: 100px;
        border: none;
        transition: background 0.2s ease, max-width 0.2s ease, color 0.2s ease;
        &:focus{
            background: #919797;
            max-width: 200px;
            color: #ddd;
            & ~ .search-btn svg{
                fill: #ddd; 
            }
        }
    }
    &-btn{
        position: absolute;
        background: none;
        height: 15px;
        width: 15px;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        svg{
            fill: #6A6F75;
            height: 100%;
            width: 100%;
            transition: fill 0.2s ease;
        }
    }
    @media (max-width: 767px){
        position: absolute;
        right: 20px;
        bottom: 11px;
        z-index: 1;
    }
}