.sorting{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 -5px 20px;
	&-box{
		display: flex;
		align-items: center;
		font-size: 11px;
		line-height: 1.2;
		padding: 0 5px;
		margin: 0 0 5px;
	}
}