.tabs{
	overflow: hidden;
}

.tabset{
	display: flex;
	flex-wrap: wrap;
	&-item{
		overflow: hidden;
		&__link{
			text-align: center;
			display: block;
			background: #f8f8f8;
		    font-size: 11px;
		    color: #333333;
		    line-height: 1.2;
		    text-transform: uppercase;
		    padding: 5px 10px 10px;
		    border-top: 2px solid #f8f8f8;
		}
		&.active &__link{
		    background: $white-color;
		    color: $red-color;
		    border-top: 2px solid $red-color;
		    pointer-events: none;
		}
	}
	@media (max-width: 539px){
    	&-item{
    		&__link{
    			font-size: 10px;
    			padding: 5px 5px 10px;
    		}
    	}
	}
}

.tab-content{
	overflow: hidden;
	background: $white-color;
    min-height: 40px;
    padding: 20px;
    color: #333;
    border-radius: 0px 0px 2px 2px;
    @media (max-width: 539px){
    	padding: 10px 0;
	}
}

.js-tab-hidden {
    display: block !important;
    left: -9999px !important;
    position: absolute !important;
    top: -9999px !important;
}