
/* Typography */
$main-font: 'ProximaNovaRegular', arial, helvetica, sans-serif;
$font-size-base: 14px;
$line-height-base: 26px;

$ProximaNovaLightIt: 'ProximaNovaLightIt';
$ProximaNovaBold: 'ProximaNovaBold';

/*Background*/
$body-bg: #f7f7f7;

/*Color text*/
$text-color: #000;
$link-color: #000;
$white-color: #fff;
$gray-color: #6d6e71;
$light-gray-color: #bbbdbf;
$red-color: #d11515;

$btn-cancel: #576b87;
$btn-cancel-hover: #4c6b89;
$btn-cancel-active: #112a42;

$btn-add: #faed4c;
$btn-add-hover: #f1e76e;
$btn-add-active: #c1c1be;

$placeholder-color: #000;
