// EXAMPLE
// @include ff(roboto, roboto-webfont);

@mixin ff($font-name, $file-name) {
  @font-face {
    font-family: "#{$font-name}";
    src: url("../fonts/#{$file-name}.woff") format("woff"),
    url("../fonts/#{$file-name}.woff2") format("woff2"),
    url("../fonts/#{$file-name}.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
}

// EXAMPLE
// textarea {
//  @include placeholder {
//    color: #999;
//  }
// }
@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
  &.placeholder {
    @content;
  }
}