$color-white: #fff;
$color-black: #000;
$color-pink: #FC486C;
$color-green: #84FC48;

$mobile: 320px;
$tablet: 768px;
$desktop: 1025px;

$mob-max: "max-width: $tablet - 1";
$mob-min: "min-width: $mobile";
$tab-max: "max-width: $desktop - 1";
$tab-min: "min-width: $tablet";
$desk-min: "min-width: $desktop";