.aside{
	overflow: hidden;
	position: fixed;
	background: $color-black;
	color: $color-white;
	height: 100vh;
	width: 25%;
	top: 0;
	left: 0;
	z-index: 99;
	&-head{
		padding: 0 0 8%;
		&__logo{
			display: block;
			width: 5vw;
			padding: 8% 0 0;
			margin: 0 auto 7%;
			svg{
				height: 100%;
				width: 100%;
			}
		}
		&__title{
			text-align: center;
			position: relative;
			font-size: 1.15rem;
			&-arrow{
				display: none;
				position: absolute;
				height: 20%;
				width: 5%;
    			top: 50%;
				left: 6%;
				transform: translateY(-50%);
				svg{
					height: 100%;
					width: 100%;
				}
			}
		}
	}
}

@media (max-width: 1023px) {
	.aside{
		width: 100%;
		&-head{
			padding: 0;
			&__logo{
				display: none;
			}
			&__title{
				font-size: calc(1.4em + 1vw);
    			line-height: calc(1em + 1vw);
				padding: 10% 22%;
				margin: 0;
				&-arrow{
					display: block;
				}
			}
		}
	}
}