body {
	background: #fff;
	color: #000;
	font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin: 0;
}
dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {
	margin: 0;
	padding: 0;
	color: #000;
}
input,textarea {
	font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	border: 1px solid #999;
	background: #fff;
	color: #000;
}
textarea {
	font: 12px 'lucida console';
	padding: 4px;
	width: 358px;
	height: 252px;
	overflow: auto;
}
img {
	border: 0;
}
a {
	color: #008;
	text-decoration: none;
	cursor: pointer;
}
a strong {
	text-decoration: underline;
}
a:hover {
	color: #800;
	text-decoration:underline;
}
h1 {
	color: #000;
	font: bold 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
	padding: 20px 0;
}
h2 {
	color: #000;
	font: bold 19px "Trebuchet MS", Arial, Helvetica, sans-serif;
	padding: 7px 0;
	clear: both;
}
h3 {
	color: #000;
	font: bold 16px "Trebuchet MS", Arial, Helvetica, sans-serif;
	padding: 7px 0;
}
h4,h5,h6 {
	color: #89944e;
	font: bold 12px Arial, Helvetica, sans-serif;
	padding-bottom: 7px;
}
.emphasis {
	color: #800
}
input.text,button,textarea.text {
	padding: 0 4px;
	width: 242px;
}
textarea.text {
	height: 180px;
}

input.short {
	width: 98px;
}

input.checkbox {
	width: auto;
}

#content {
	padding: 0 10px 8px;
}

.button {
	border: 1px solid #999;
	background: #999;
	color: #fff;
	width: 125px;
	cursor: pointer;
}

.button-irfqa {
	border: 1px solid #999;
	background: #999;
	color: #fff;
	/*	width:125px;*/
	cursor: pointer;
}

.button-gc {
	border: 1px solid #999;
	background: #46b;
	color: #fff;
	width: 125px;
}


hr {
	height: 1px;
	background: #999;
	overflow: hidden;
	padding: 0px;
	margin: 15px 0;
}

table {
	border-collapse: collapse;
}

td,th {
	padding: 4px 16px 4px 0px;
	vertical-align: top;
}

table.grid td,table.grid th {
	border: 1px solid #ccc;
	padding: 4px 8px;
}

table.grid th {
	background: #eee;
	padding: 4px 6px;
}

table.horizontal th {
	text-align: right;
}

table.horizontal.attendances th {
	text-align: left;
}

table.messages {
	width: 100%;
}

table td.dark {background-color: #adadad;}

.own { /*background: #ffe;*/

}

.support {
	background: #eff;
}

.manager {
	background: #ffe;
}

td.message {
	vertical-align: top;
	width: 50%;
}

td.message .author {
	font-weight: bold;
	padding-bottom: 12px;
	overflow: hidden;
	height: 100%;
}

.s3-form div {
	padding: 0;
}

.left {
	float: left;
}

.right {
	float: right;
}

.empty {
	border: 0 !important;
}

.nopadding {
	padding: 0 !important;
}

.no-left-padding {
	padding-left: 0 !important;
}

.no-right-padding {
	padding-right: 0 !important;
}

pre {
	font: 12px 'lucida console';
	margin: 0;
}

.text-letter {
	font: 12px 'lucida console';
	margin: 0;
}

form {
	margin: 0;
	padding: 0
}
.bold {
	font-weight: bold;
}
.unread {
	font-weight: bold;
}
.unread a {
	color: #800;
	text-decoration: underline;
}
.unreached {
	background: #ffc;
}
.internal a {
	color: #080;
	text-decoration: underline;
}
.for-manager a {
	color: #008;
}
.implementator a, span.implementator {
	color: #00f;
}
.ready {
	background-color: #0c0;
}

.unread-support a {
	color: #ffae2f;
}

.navigation {
	padding: 4px 8px;
	font-weight: bold;
	background: #eee;
	border: 1px solid #ccc;
	margin-top: 8px;
	clear: both;
}

.navigation a {
	margin: 0 8px 0 0;
	padding: 0 8px 0 0;
	border-right: 1px solid #ccc
}

.navigation a.last {
	border-right: 0
}

.new-msg .left {
	background: #800;
	color: #fff;
}

table.browse-manager {
	/*table-layout:fixed;*/
	position: relative;
}

table.browse-manager tr:hover,table.browse-manager tr.hover {
	background: #edd;
}

.subject {
	width: 260px;
}

.status {
	width: 75px;
}

.task_status {
	width: 95px;
}

#task_statuses {
	width: 95px;
}

#statuses {
	width: 80px;
}

#performers {
	width: 90px;
}

#support {
	width: 75px;
}

#managers {
	width: 75px;
}

.date {
	width: 115px;
}

.performer-email-short {
	width: 80px;
}

.email-short {
	width: 65px;
}

.email {
	width: 160px;
}

#clients {
	width: 160px;
}

input.link {
	width: 135px;
}

th.del {
	width: 20px;
}

td.b-del {
	background: url(../images/i-del.gif) no-repeat 9px 5px;
	cursor: pointer
}

/*
* html input.del {
	font-size:1000px;
}
*/
.pages {
	width: 40px;
}

.unpaid {
	color: #f00;
}

.f-client {
	color: #030;
	cursor: pointer
}

.critical {
	background: #fb9;
}

.empty-implementator {
	background: #e0f0ff;
}

.flagged {
	background: #fb9;
}

.invisible {
	display: none;
}

/* vkosinets */
div.dropdown_hidden {
	display: none;
}

div.dropdown_visible {
	display: block;
	position: absolute;
	top: 1px;
	left: 0px;
}

div.dd_position {
	padding: 0;
	position: relative;
}

#dropdown_select {
	background: #FFFFEE;
}

div.paging a,div.paging span {
	padding: 0 4px 0 0
}

div.paging {
	margin: 0 0 4px 0
}

div.paging span {
	font-weight: bold;
	color: #008800;
}

/* ematsakov */
.priority {
	width: 85px;
}

th.check {
	width: 10px;
}

th.order {
	width: 12px;
}

td.order a {
	display: block;
}

td.order.up {
	background: url(../images/up-priority.gif) no-repeat 9px 5px;
	cursor: pointer
}

td.order.down {
	background: url(../images/down-priority.gif) no-repeat 9px 5px;
	cursor: pointer
}

td.order-no {
	color: #999999;
}

.collaboration {
	width: 80px !important;
}

/*client popup*/ /*table.grid.horizontal td:hover,
table.grid.horizontal td.hover{
	position: relative;
	z-index: 100;
}*/
table.grid.horizontal td span.popup {
	display: none;
	position: absolute;
	width: 207px;
	left: 150px;
	z-index: 99999;
}

* html table.grid.horizontal td span.popup {
	display: none;
	position: absolute;
	width: 207px;
	left: 300px;
	margin: 17px 0 0 0;
	z-index: 99999;
}

table.grid.horizontal td span.popup span.top {
	display: block;
	width: 207px;
	height: 28px;
	background: url(../../images/popup-top.png) no-repeat;
}

table.grid.horizontal td span.popup em {
	display: block;
	width: 152px;
	background: url(../../images/popup-text.png) repeat-y;
	padding: 5px 10px 5px 45px;
	font-size: 11px;
	color: #f9fbfb;
	text-align: left;
}

table.grid.horizontal td:hover span.popup,
table.grid.horizontal td.hover span.popup {
	display: block;
}

.title-error {
	display: none;
	color: red;
}

a.sortable {
	color: #000;
}

a.dir1 {
	color: #800;
}

a.dir0 {
	color: #008;
}

input.filter-text {
	width: 75px;
}

.hidden {
	display: none !important;
}
input.fake-text,
input.fake-browse {
	padding: 1px 0 1px 4px;
}
input.file-text,
input.fake-text {
	margin: 0 2px 0 0;
	width: 142px;
	float: left;
}
input.file-browse,
input.fake-browse {
	padding-right: 4px;
	width: 72px;
	height: 22px;
	cursor: pointer;
	float: left;
	overflow: hidden;
	background: url(../../images/browse-button.gif) no-repeat;
	border: 0;
}
.upload-box {
	width:343px;
	height:19px;
	border:1px solid #d42a36;
	float:left;
	overflow:hidden;
	position:relative;
}
.upload-box .progress-text {
	text-align:left;
	color:#656565;
	font-size:13px;
	line-height:18px;
	z-index:1;
	position:relative;
	display:block;
	padding-left:127px;
	width:auto;
}
.upload-box .overall-progress {
	position:absolute;
	height:100%;
	left:0;
	top:0;
	width:0;
	background:#ffc8c8;
	z-index:0;
}

.qa-file {
	width: 230px;
}

.spacer {
	height: 50px;
}



.hide {
	width: 50px !important;
}

.spell-check {
	background: url(../images/spellcheck-failed.png) no-repeat;
	width: 16px;
	height: 16px;
	overflow: hidden;
	cursor: pointer;
	float: right;
	margin-left: 10px;
	display: inline;
}

.chat-logs .spell-check {
	position: absolute;
	top: 14px;
	right: 8px;
	margin: 0;
}

.spell-check a,.spell-check-t a,.spell-check-f a {
	text-indent: -9999px;
	overflow: hidden;
	display: block;
}

.spell-short {
	width: 25px;
}

.spell-text-short {
	width: 135px;
	height: 40px;
}

#sbox-content .hidden {
	display: block;
}

#sbox-content form {
	padding: 3px;
}

#sbox-content table.grid {
	width: 100%;
}

#sbox-content .left input {
	border: 0;
	background: none;
}

table.simply-grid {
	width: 100%;
}

table.simply-grid,table.simply-grid td,table.simply-grid th {
	border: 1px solid #ddd;
	color: #444;
	font-weight: normal;
	font-size: 11px;
}

table.simply-grid td,table.simply-grid th {
	padding: 4px;
}

table.simply-grid th {
	font-weight: bold;
}


/* message error */
div.messages {
	background: #fff;
	border: 1px solid #ccc;
	margin: .75em;
	margin-left: 0;
	padding: .5em 1em;
}

div.messages ul li {
	list-style: none;
}

div.notice {
	border-color: #c7f2c8;
	background: #cfc;
	color: #3a3;
	margin: 0 !important;
}

div.notice li {
	color: #3a3;
}

div.warning {
	border-color: #f0c020;
	background: #ffd;
	color: #f09000;
	margin: 0 !important;
}

div.warning li {
	color: #f09000;
}

div.error {
	border-color: #d77;
	background: #fcc;
	color: #c52020;
	margin: 0 !important;
}

div.error li {
	color: #c52020;
}

.toggleh {
	cursor: pointer;
}

a.client-filter {
	text-decoration: none;
	color: #000;
}

div.note-one-line {
	overflow: hidden;
	height: 18px;
}

div.note-one-line:hover .hidden {
	margin: -5px 26px 0 -9px;
	padding: 4px 8px;
	display: block !important;
	position: absolute;
	background-color: white;
	border: 1px solid #CCCCCC;
}

/*task list*/
#new-task-management {
	padding: 0 0 7px 0;
}

#new-task-management a {
	display: none;
}

.height35 {
	height: 35px;
}

.attofftime {
	color: #FF0000 !important;
}

.attleave {
	background-color: rgb(189, 229, 167) !important;
}

.attunpaid {
	background-color: rgb(139, 192, 255) !important;
}
.red {
	color: #f00;
	font-weight: bold;
}


#sub-sub-nav {
	padding: 0 0 10px 2px;
}

.browse-task input {
	width: 205px;
}

.browse-task .date input {
	width: 105px;
}

.browse-task .duration input {
	width: 40px;
}
.stat td {
	text-align: center;
}

table.grid caption {
	line-height: 23px;
}

table.grid .internal-head th,table.grid .internal-head td {
	background: none;
	border-style: none;
	font-weight: normal;
	padding-top: 0;
	padding-bottom: 0;
}

input.ms-only {
	background: none;
	border-style: none;
	padding: 0;
}
table.grid .add-task textarea {
	height: 150px;
}
th.statexp {
	white-space:nowrap !important;
}



/*DATGRID*/
.datagrid thead,.datagrid tfoot {
	background:#EEEEEE none repeat scroll 0 0;
	color: #0033CC;
	font-weight: bold;
	text-align: center;
}

img {
	border: 0px;
}

.datagrid thead a{
	color: #0033CC;
	text-decoration: none;
}
.datagrid li
{
	display:inline;
}

.datagrid tr
{
	border: 0px;
	margin: 0px;
	padding: 0px;
}
.datagrid td
{
	margin: 0px;
	padding: 0px;
	border:1px solid #CCCCCC;
	text-align: center;
}

.dghb{
  margin-left: 60px;
}
input{
  background: #fff;
  margin: 2px;
}

.dghb form{
  float: left;
  margin: 0px;
  padding: 0px;
}
.dghb form ul{
  margin: 0px;
  padding: 0px;
}

.dgsr{
  text-align: center;
}

.dgsr label{
  font-weight: bold;
}

ul{
		list-style-type:none;
}

.file{
	float:left;
	height:31px;
	width:283px;
	font:12px/14px Arial, sans-serif;
	color:#666;
	position:relative;
	z-index:2;
}

.file-input-area{
	position:absolute;
	top:4px;
	left:0px;
	float:left;
	height:31px;
	width:220px !important;
	padding:0;
	margin:0;
	z-index:10;
	opacity: 0!important;
}
.attachment{
	text-align:right;
	font-weight:bold;
}
/*---*/
.inner-table {
	float: left;
	overflow: hidden;
	position: relative;
	border: 1px solid #ccc;
	padding: 5px;
}
.cart-table-product-name, .cart-table-product-color {
	float: left;
	overflow: hidden;
}
.cart-table-product-color {
	margin: 30px 0 0;
	width: 240px;
}
.cart-table-product-name .front, .cart-table-product-name .back {
	float: left;
	width: 520px;
	height: 653px;
	overflow: hidden;
	position: relative;
}
.cart-table-product-name .front {margin: 0 5px 0 0;}
.cart-table-product-name .front img, .cart-table-product-name .back img {
	display: block;
}
.cart-table-product-name .front .containment, .cart-table-product-name .back .containment {
	width: 300px;
	height: 490px;
	position: absolute;
	top: 60px;
	left: 105px;
	overflow: hidden;
}
.cart-table-product-name .front .containment .img {
	position: absolute;
	left: 12px;
	top: 5px;
	width: 21px;
	height: 21px;
}
.cart-table-product-name .back .containment .img {
	position: absolute;
	left: 12px;
	top: 5px;
	width: 21px;
	height: 21px;
}
.cart-table-product-name .front .containment .img img, .cart-table-product-name .back .containment .img img {
	display: block;
	width: 100%;
	height: 100%;
}
.cart-table-product-name .front .containment .text {
	position: absolute;
	font-size: 6px;
	left: 10px;
	top: 25px;
}
.cart-table-product-name .back .containment .text {
	position: absolute;
	font-size: 6px;
	left: 10px;
	top: 25px;	
}
.cart-table-product-name .front .containment .text p, .cart-table-product-name .back .containment .text p {
	margin: 0;
	width: 100%;
	line-height: normal;
}
.inner-table .close {
	display: block;
	width: 16px;
	height: 16px;
	text-indent: -9999px;
	text-decoration: none;
	background: url(/images/btn-close.gif) no-repeat;
	position: absolute;
	top: 5px;
	right: 5px;
}
.cart-table-product-color .color {
	width: 100%;
	overflow: hidden;
}
.cart-table-product-color .color p {
	float: left;
	margin: 0 5px 0 0;
	width: auto;
	line-height: 28px;
}
.cart-table-product-color .color span {
	float: left;
	width: 25px;
	height: 25px;
	border: 1px solid #ccc;
}
/*Portfolio right*/
#input-submit-portfolio {
	position: absolute;
	right: 30px;
	top: 5px;
}
ul li input[type="submit"] {cursor: pointer;}
/*Popup*/
.global-popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../../images/bg-popup.png);
	z-index: 5000;
}
.global-popup .popup-content {
	margin:100px auto 0;
	background:#fff;
	border:1px solid #000;
	width:820px;
	padding:22px;
	overflow: hidden;
	position: relative;
}
.global-popup .popup-content .popup-close {
	display: block;
	width: 16px;
	height: 16px;
	text-indent: -9999px;
	text-decoration: none;
	background: url(../../images/btn-close.gif) no-repeat;
	position: absolute;
	top: 5px;
	right: 5px;
}
.global-popup .own-image .list-holder {
	float: left;
	overflow: hidden;
	width: 100%;
}
.global-popup .own-image .list-holder .hover-tabs {
	float: left;
	overflow: hidden;
	width: 100%;
}
.global-popup .own-image .list-holder .hover-tabs ul.tabset {
	float: left;
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;
	z-index: 2;
}
.global-popup .own-image .list-holder .hover-tabs ul.tabset li {
	float: left;
	position: relative;
	margin: 0 0 0 -1px;
}
.global-popup .own-image .list-holder .hover-tabs ul.tabset li:first-child {margin: 0;}
.global-popup .own-image .list-holder .hover-tabs ul.tabset li a {
	padding: 0 10px;
	height: 20px;
	line-height: 20px;
	float: left;
	text-align: center;
	border: 1px solid #000;
	background: #fff;
	border-radius: 5px 5px 0 0;
	margin: 6px 0 0;
	color: #000;
}
.global-popup .own-image .list-holder .hover-tabs ul.tabset li a:hover, .global-popup .own-image .list-holder .hover-tabs ul.tabset li a.active {
	height: 25px;
	line-height: 25px;
	margin: 0;
	border-width: 1px 1px 0;
	text-decoration: none;
}
.global-popup .own-image .list-holder .hover-tabs ul.tabset li a.active {
	padding: 0 10px 1px;
	border-bottom: 1px solid #000;
}
.global-popup .own-image .list-holder .hover-tabs .tab-holder {
	float: left;
	width: 100%;
	overflow: hidden;
	position: relative;
	z-index: 1;
	margin: -1px 0 0;
	border-top: 1px solid #000;
}
.global-popup .own-image .list-holder ul.list {
	float:left;
	margin:5px 0 0 18px;
	padding:0;
	list-style:none;
	width:784px;
	overflow:hidden;
}
.global-popup .own-image .list-holder ul.list li {
	float:left;
	margin:4px;
	width:102px;
	border:1px solid #000;
	height:102px;
	background:#cbcbcb;
}
.global-popup .own-image .list-holder ul.list li a {
	float:left;
	text-decoration:none;
	width:100px;
	height:100px;
	margin:1px;
}
.global-popup .own-image .list-holder ul.list li a img {
	display:block;
	margin: 0 auto;
}
.global-popup .own-image .list-holder ul.paginator {
	float:left;
	width:100%;
	margin:10px 0 0;
	padding:0;
	text-align:center;
}
.global-popup .own-image .list-holder ul.paginator li {
	display:inline;
	padding:0 5px;
	color:#000;
}
.global-popup .own-image .list-holder ul.paginator li a {
	text-decoration:underline;
	color:#000;
}
.global-popup .own-image .list-holder ul.paginator li a:hover {text-decoration:none;}
.global-popup .ready .hover-tabs {
	float: left;
	overflow: hidden;
	width: 100%;
}
/*Upload file button*/
#ticketPropertiesLinkToggle, #addNewPostLinkToggle, #ticketPropertiesLinkToggle, #addNewItemLinkToggle, #addNewCatLinkToggle, #categoryPropertiesLinkToggle {position: relative;}
#addNewItemLinkToggle select {margin: 2px 0 0;}
#addNewItemLinkToggle .grid th, #addNewCatLinkToggle .grid th, #categoryPropertiesLinkToggle .grid th {vertical-align: middle;}
#addNewItemLinkToggle input[type="text"], #addNewCatLinkToggle input[type="text"], #categoryPropertiesLinkToggle input[type="text"] {width: 157px;}
#addNewItemLinkToggle .grid td.empty, #addNewCatLinkToggle .grid td.empty, #categoryPropertiesLinkToggle .grid td.empty {width: auto;}
#addNewItemLinkToggle .grid td, #addNewCatLinkToggle .grid td, #categoryPropertiesLinkToggle .grid td {
	width: 256px;
	height: 24px;
}
#ticketPropertiesLinkToggle .grid td {
	width: 336px;
	height: 24px;
}
#ticketPropertiesLinkToggle .grid td.empty {width: auto;}
#ticketPropertiesLinkToggle select {margin: 2px 0 0;}
.upfile form, .upfile fieldset {
	margin: 0;
	padding: 0;
	border: none;
}
.upfile {
	position: absolute;
	top: 44px;
	left: 296px;
}
.upfile.first {
	top: auto;
	bottom: 37px;
	left: 366px;
}
.upfile.second {
	top: auto;
	bottom: 37px;
	left: 366px;
}
.upfile.third {
	left: 297px;
	top: 110px;
}
.upfile.fourth {
	top: 110px;
	left: 344px;
}
.upfile.fifth {
	top: 77px;
	left: 380px;
}
.upfile.sixth {
	top: 77px;
	left: 324px;
}
.upfile .upbutton {
	height: 20px;
	line-height: 20px;
	text-align: center;
	background: #999;
	color: #fff;
	cursor: pointer;
	width: 80px;
	overflow: hidden;
	position: relative;
}
.upfile .upbutton span {
	display: block;
	height: 20px;
	width: 100%;
}
.upfile .upbutton input {
	height: 20px;
	 width: 73px;
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	cursor: pointer;
	font-size: 2px;
}
.col-first, .col-second {
	position: relative;
}
