.form{
	width: 100%;
	&-box{
		position: relative;
		margin: 0 0 15px;
	}
	&-label{
		display: block;
		margin: 0 0 5px;
	}
	&-input,
	&-textarea{
		width: 100%;
		font-size: 16px;
		line-height: 18px;
		padding: 10px;
		color: $black-color;
	    border: 1px solid $black-color;
	}
	&-input{
		height: 40px;  
	}
	&-textarea{
		min-height: 110px;
	}
	&-btn{
		background: $red-color;
	    color: $white-color;
		font-size: 18px;
	    line-height: 1.2;
	    font-weight: 700;
	    padding: 10px 15px;
	    margin: 0 0 20px;
	    border: 1px solid #c2121c;
	    transition: all 0.2s linear;
	    &:focus{
	    	border: 1px solid #c2121c;
	    }
	    &:hover{
	    	background: $white-color;
    		color: $red-color;
	    }
	}
	&-box.error{
		.text-error{
			display: block;
		}
	}
	.text-error{
		display: none;
		color: #f00;
	}
	.validation-error{
		display: none;
		font-size: 12px;
		line-height: 1.2;
		color: #888;
		padding: 5px 10px;
		margin: 0 0 20px;
		border: 2px solid #f7e700;
	}
	&-error{
		.validation-error{
			display: block;
		}
	}
}