.main {
	overflow: hidden;
	padding: 2.5% 0 5% 25%;
	&-holder{
		display: flex;
		flex-wrap: wrap;
		padding: 0 4.5% 5% 5.5%;
		h1{
			flex-grow: 0.5;
			font: 2.05rem/1.2 "RalewayBold";
			margin: 0 0 30px;
		}
	}
}

@media (max-width: 1023px) {
	.main {
		padding: 0;
	}
}