
/* Typography */

$main-font: "MontserratRegular", arial, helvetica, sans-serif;
$MontserratThin: "MontserratThin", arial, helvetica, sans-serif;
$MontserratLight: "MontserratLight", arial, helvetica, sans-serif;
$MontserratMedium: "MontserratMedium", arial, helvetica, sans-serif;
$MontserratSemiBold: "MontserratSemiBold", arial, helvetica, sans-serif;
$MontserratBold: "MontserratBold", arial, helvetica, sans-serif;
$MontserratExtraBold: "MontserratExtraBold", arial, helvetica, sans-serif;
$font-size-base: 14px;
$line-height-base: 21px;


/*Background*/
$body-bg: #fff;

/*Color*/

$text-color: #000;
$black-color: #000;
$white-color: #fff;
$gray-color: #999999;
$light-turquoise-color: #98f7f3;
$turquoise-color: #23d3cc;
$dark-green-color: #157f7a;
$placeholder-color: #262626;