.search {
	margin: 0 0 50px;
	&-form {
		display: flex;
		border: 1px solid #161617;
	}
	&-btn {
		background: #f5f6f7;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 60px;
		font-size: 32px;
		color: #9a9b9a;
		border: 0;
		.no-touch & {
			&:hover {
				color: #e73f30;
			}
		}
	}
	&-input {
		background: #f5f6f7;
		flex: 1;
		height: 60px;
		font-size: 27px;
		line-height: 29px;
		color: #9a9b9a;
		padding: 16px 10px 15px;
		border: 0;
		@include placeholder {
			color: #9a9b9a;
		}
	}
	@media (max-width: 1023px) {
		margin: 0 0 30px;
		&-btn {
			width: 40px;
			font-size: 24px;
			.no-touch & {
				&:hover {
					color: #e73f30;
				}
			}
		}
		&-input {
			height: 40px;
			font-size: 20px;
			line-height: 22px;
			padding: 9px 10px;
			@include placeholder {
				opacity: 0;
			}
		}
	}
}