.jcf-select {
	position: relative;
	display: flex;
	font: 16px/1 'SFUIDisplay-Bold', sans-serif;
	color: #fff;
	text-transform: uppercase;
	padding: 0 28px 0 0;
	margin: 0 25px 0 0;
	cursor: pointer;
	&.jcf-drop-active .jcf-select-opener:before {
		color: #e73f30;
	}
	.jcf-select-text {
		position: relative;
		background: #676766;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 42px;
		width: 42px;
		border-radius: 50%;
		z-index: 1;
	}
	.jcf-select-opener {
		position:absolute;
		top:0;
		right: 0;
		width: 20px;
		height: 100%;
		&:before {
			content: "\e900";
			position: absolute;
			font-family: 'icomoon';
			font-size: 32px;
			line-height: 1;
			font-weight: 700;
			color: #676766;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	@media (max-width: 767px) {
		margin: 0 10px 0 auto;
	}
}
.jcf-select-drop {
	background: #676766;
	width: 42px!important;
	font-size: 16px;
	line-height: 1.2;
	color: #fff;
	border-radius: 100px;
	padding: 10px 0;
	.jcf-option {
		display: block;
		cursor: pointer;
		text-transform: uppercase;
		text-align: center;
		padding: 8px;
		transition: all 0.2s linear;
		&.jcf-selected {
			display: none;
		}
		&.jcf-hover {
			color: #e73f30;
		}
	}
}