html,
body{
	height: 100%;
}

body {
	background: $white-color;
	min-width: 320px;
	font: 12px/1.2 "arial", helvetica, sans-serif;
	color: $main-color;
}

button,
[type=reset],
[type=submit],
[type=image],
a {
	-webkit-transition: background-color .2s, color .2s;
	transition: background-color .2s, color .2s;
}

img {
	display: block;
	height: auto;
	max-width: 100%;
}

b,
strong {
	font-weight: 700;
}

i,
em {
	font-style: italic;
}

%list-reset {
	list-style: none;
	margin: 0;
	padding: 0;
}

%clearfix {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

* {
box-sizing: border-box;
}

strong {
font-weight: 700;
}


a {
	text-decoration: none;
	outline: none;
	border: none;

	&:focus, &:active {
		border: none;
		outline: none;
	}
}

button {
	border: none;
	outline: none;
	padding: 0;

	&:focus, &:active {
		border: none;
		outline: none;
	}

	&::-moz-focus-inner {
	  border: 0;
	}
}

input {
	&:focus, &:active {
		outline: none;
	}
}

img {
	width: 100%;
	vertical-align: middle;
}

p {
	margin: 0 0 10px;
} 

.container {
	max-width: 1020px;
	width: 100%;
	padding: 0 20px;
	margin: 0 auto;
}

h1 {
	font-size: 24px;
	line-height: 1.2;
	text-transform: uppercase;
	color: #444;
}

@media (max-width: 1023px) {
	h1 {
		font-size: 18px;
	}
}