.menu {
	overflow: hidden;
	&-list {
		display: flex;
		align-items: center;
		&__item {
			padding: 0 0 0 35px;
		}
		&__link {
			position: relative;
			display: inline-block;
			vertical-align: top;
			padding: 10px 0;
			color: $dark-grey;
			font-size: 14px;
			font-weight: 400;
			text-transform: uppercase;
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: -1px;
				right: 102%;
				display: block;
				height: 3px;
				background: $green;
				transition: right 0.5s ease;
			}
			&:hover,
			&:active {
				&:before {
					right: -1px;
				}
			}
			&-active:before{
				right: -1px;
			}
		}
	}
	
	@media (min-width: 992px) {
		&__link {
			padding: 27px 0;
			display: flex;
		}
	}
	@media (max-width: 991px) {
		position: absolute;
		max-height: 0;
		width: 100%;
		top: 62px;
		left: 0;
		right: 0;
		transition: 0.5s linear;
		
		&-list{
			flex-direction: column;
			background: #ffffffe6;
			padding: 15px;
			transform: translateY(-100%);
			transition: 0.5s linear;
			&__item {
				text-align: center;
				display: block;
				padding: 0;
			}
		}
		.menu-active &{
			max-height: 99999px;
			&-list {
				transform: translateY(0);
			}
		}
	}
}

.btn-mobile {
	position: relative;
	width: 30px;
	height: 30px;
	margin-left: 15px;
	background: transparent;
	border: none;

	.sr-only {
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		border: 0;
	}

	.menu-icon {
		position: absolute;
		top: 50%;
		right: 0;
		margin-top: -1px;
		width: 100%;
		height: 3px;
		background: $dark-grey;
		opacity: 1;
		transition: .5s;

		&:before {
			content: "";
			display: block;
			position: absolute;
			top: 10px;
			right: 0;
			width: 100%;
			height: 3px;
			background: $dark-grey;
			transition: .5s;
		}

		&:after {
			content: "";
			display: block;
			position: absolute;
			bottom: 10px;
			right: 0;
			width: 100%;
			height: 3px;
			background: $dark-grey;
			transition: .5s;
		}
	}

	.menu-active & {
		.menu-icon {
			background: rgba(48, 60, 66, 0);

			&:before {
				top: 0;
				transform: rotate(45deg);
			}

			&:after {
				bottom: 0;
				transform: rotate(-45deg);
			}
		}
	}
	@media (min-width: 992px) {
		display: none;
	}
}

@media (max-width: 991px) {
  .menu-active{
    overflow: hidden;
  }
}