.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  background: #fff;
  overflow-x: hidden;
  overflow-y: auto;

  &.show {
    display: block;
  }

  &-dialog {
    display: flex;
    align-items: center;
    max-width: 770px;
    min-height: auto;
    height: calc(100% - (30px * 2));
    margin: 30px auto;
    @media (max-width: 1023px) {
      margin: 60px auto;
    }
  }

  &-content {
    width: 100%;
    padding: 15px;
  }

  &-header {
    position: relative;
    padding: 52px 0 35px;

    h2 {
      text-transform: uppercase;
      margin: 0;
      text-align: center;

      @media (max-width: 575px) {
        font-size: 24px;
      }
    }

    .close {
      position: absolute;
      top: 0;
      right: 0;
      padding: 10px;
      background: transparent;
      border: none;

      span {
        display: block;
        width: 22px;
        height: 22px;
        background-image: url('../img/close.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
  }

  &-body {
    p {
      padding-bottom: 30px;
      margin: 0;
      font-weight: 300;
      text-align: center;
    }

    form {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .form-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0 10px;

        &:first-child {
          margin-bottom: 30px;
        }

        @media (min-width: 768px) {
          width: 50%;

          &:first-child {
            margin-bottom: 0;
          }
        }
      }

      .form-group {
        width: 100%;
        padding-bottom: 20px;

        input {
          width: 100%;
          padding: 5px 10px;
          background: #fff;
          border: none;
          border-bottom: 1px solid #4d4d4f;

          &.error {
            border-color: #e27272;
          }

          &::placeholder {
            font-style: italic;
            transition: font-size 0.5s ease;
          }

          &:focus {
            &::placeholder {
              font-size: 0;
            }
          }
        }
      }

      .form-radio {
        &:not(:last-child) {
          padding-bottom: 10px;
        }

        label {
          position: relative;
          display: inline-block;
          vertical-align: top;
          padding-left: 35px;
          cursor: pointer;

          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 21px;
            height: 21px;
            border: 1px solid #4d4d4f;
            border-radius: 50%;

            @media (min-width: 768px) {
              top: 3px;
            }
          }
        }

        input[type=radio]:checked + label {
          &:after {
            content: '';
            position: absolute;
            top: 5px;
            left: 5px;
            display: block;
            width: 11px;
            height: 11px;
            background: #a5c527;
            border-radius: 50%;

            @media (min-width: 768px) {
              top: 8px;
            }
          }
        }
      }
    }
  }

  &-footer {
    width: 100%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;

    .btn {
      min-width: 110px;
    }
  }
}