.progressbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  &-item {
    text-align: center;
    padding: 0 10px;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  &-box{
    overflow: hidden;
  }
  p {
    display: inline-block;
    vertical-align: top;
    padding: 0 7px;
    margin: 0;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    background: #ffffff80;
  }
}