.projects {
  padding: 100px 0;
  background-image: url("../img/markupdev-bg.png");
  background-attachment: fixed;
  background-position: center;

  &-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &-item {
    width: 25%;
    padding: 11px;

    .info {
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 10;
      padding: 10px 22px;
      transition: transform 0.5s ease;
      transform: translateY(40%);

      @media (max-width: 1023px) {
        transform: translateY(0);
      }

      &-bg {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: rgba(165, 197, 39, 0.85);
        transition: transform 0.5s ease;
        transform: translateY(101%);

        @media (max-width: 1023px) {
          transform: translateY(0);
        }
      }

      h4 {
        position: relative;
        z-index: 3;
        color: #4d4d4f;
        font-size: 18px;
        font-weight: 400;
        text-align: center;
        transition: color 0.5s ease;

        @media (max-width: 1023px) {
          color: $white;
        }
      }

      p {
        position: relative;
        z-index: 3;
        margin-top: 10px;
        margin-bottom: 0;
        padding-top: 10px;
        border-top: 1px dotted white;
        color: $white;
        font-size: 14px;
        text-align: center;
        transform: translateY(101%);
        transition: transform 0.5s ease;

        @media (max-width: 1023px) {
          transform: translateY(0);
        }
      }
    }

    &__chief {
      width: 33.3%;
      .info {
        transform: translateY(30%);
        h4 {
          font-size: 36px;
        }
        @media (max-width: 1200px) {
          transform: translateY(40%);
          h4 {
            font-size: 28px;
          }
        }

        @media (max-width: 1023px) {
          transform: translateY(0);
        }
      }
    }

    &.item-sm{
      @media (max-width: 1023px) {
        width: 33.3%;
      }
    }

    &__wrap {
      overflow: hidden;
      position: relative;
      display: flex;
      align-items: flex-end;
      background: #ffffff99;
      height: 100%;
      border: 1px solid #ededed;
    }

    &__img {
      position: relative;
      svg{
        text-align: center;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        transition: transform 0.3s linear;
        circle{
          fill: transparent;
          stroke: #fff;
          stroke-width: 100;
        }
        @media (max-width: 1023px) {
          display: none;
        }
      }
      img {
        width: 100%;
      }
    }

    &:hover {
      .projects-item__img {
        svg{
          transform: scale(2.6)
        }
      }

      .info {
        transform: translateY(0);

        &-bg {
          transform: translateY(0);
        }

        h4 {
          color: $white;
        }

        p {
          transform: translateY(0);
        }
      }
    }
  }

  @media (max-width: 1023px) {
    &-item {
      &__chief {
        .info {
          h4 {
            font-size: 18px;
          }
        }
      }
    }
  }

  @media (max-width: 767px) {
    &-item {
      &__chief,
      &.item-sm {
        width: 50%;
      }
    }
  }

  @media (max-width: 466px) {
    &-item {
      &__chief,
      &.item-sm {
        width: 100%;
      }
    }
  }
}