.team {
  padding: 100px 0;

  &-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  &-item {
    overflow: hidden;
    position: relative;
    padding: 0 11px;
    margin-bottom: 22px;
    max-width: 358px;
    cursor: pointer;

    &__content {
      height: 100%;
      border: 1px solid #ededed;
    }

    &__photo {
      position: relative;
      svg{
        text-align: center;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        transition: transform 0.3s linear;
        circle{
          fill: transparent;
          stroke: #fff;
          stroke-width: 100;
        }
        @media (max-width: 1023px) {
          display: none;
        }
      }
    }

    &__caption {
      position: absolute;
      right: 11px;
      left: 11px;
      bottom: 0;
      z-index: 10;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 10px;

      h6 {
        position: relative;
        z-index: 3;
        font-size: 24px;
        font-weight: 400;
        transition: 0.5s ease;
        transform: translateY(40%);

        @media (max-width: 1023px) {
          transform: translateY(0);
          color: $white;
        }
      }

      span {
        position: relative;
        z-index: 3;
        color: #fff;
        font-size: 16px;
        font-weight: 300;
        transition: 0.7s ease;
        transform: translateY(150%);

        @media (max-width: 1023px) {
          transform: translateY(0);
        }
      }

      &-bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(165, 197, 39, 0.85);
        transition: transform 0.5s ease;
        transform: translateY(101%);

        @media (max-width: 1023px) {
          transform: translateY(0);
        }
      }
    }

    &:hover {
      .team-item__photo {
        svg{
          transform: scale(2.6)
        }
      }

      .team-item__caption {
        h6 {
          color: #fff;
          transform: translateY(0);
        }

        span {
          transform: translateY(0);
        }

        &-bg {
          transform: translateY(0);
        }
      }
    }
  }
}