.tell-us {
  padding: 50px 0;
  background-image: url("../img/img-01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  text-align: center;
  h3 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 30px;
    @media (min-width: 767px) {
      font-size: 36px;
    }
    @media (max-width: 900px) {
      br {
        display: none;
      }
    }
  }
}