.about {
  padding-bottom: 84px;
  &__item {
    margin-bottom: 73px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__title {
    font: 19px/1.5 $font1;
    font-weight: bold;
    text-align: center;
    color: #4717f6;
    letter-spacing: 2px;
    margin-bottom: 24px;
  }
  &__info {
    color: #0e0b16;
    font:15px/1.5 $font2;
    letter-spacing: 2.1px;
    margin: 0;
  }
  @media ($mob-max) {
    padding: 0 0 35px;
    &__item {
      margin: 0 0 35px;
    }
    &__title{
      font: 17px/1.5 $font1;
      font-weight: bold;
      margin: 0 0 15px;
    }
  }
}
