.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  @media (max-width: 1200px) {
    max-width: 100%;
  }
}

.container770 {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}

.container830 {
  max-width: 830px;
  margin: 0 auto;
  padding: 0 30px;
  @media ($mob-max) {
    padding: 0 15px;
  }
}