.footer-info {
  flex: 1 0 auto;
  &-top {
    display: flex;
    justify-content: space-between;
    padding-left: 59px;
    margin: 0 -10px;
    &__column {
      padding: 0 10px;
    }
    &__list {
      padding-bottom: 15px;
      padding-left: 8px;
    }
    &__field {
      display: flex;
      flex-direction: column;
      span {
        color: #fff;
        font-size: 14px;
        margin-bottom: 7px;
      }
      a {
        color: #fff;
        transition: color ease .25s;
        font-size: 15px;
        margin-bottom: 21px;
        &:hover {
          color: $hoverColor;
          transition: color ease .25s;
        }
      }
    }
  }
  &-bottom {
    display: flex;
    padding: 32px 10px 0;

    p {
      color: #fff;
      flex: 1 0 auto;
      text-align: center;
      a {
        color: inherit;
        transition: color ease .25s;
        &:hover {
          color: $hoverColor;
          transition: color ease .25s;
        }
      }
    }
  }
  @media ($tab-max) {
    &-top {
      padding-left: 0;
      &__column {
        padding: 20px 10px;
      }
    }
  }
  @media ($mob-max) {
    &-top {
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      &__column {
        text-align: center;
        width: 100%;
        padding: 10px 0;
      }
      &__list{
        padding: 0;
      }
      &__field{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        span{
          margin: 0 5px 20px;
        }
      }
    }
    &-bottom {
      flex-wrap: wrap;
      flex-direction: column;
      padding: 0;
      p {
        font-size: 11px;
      }
    }
  }
}
