.home-services {
  margin: 0 -15px 103px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 0 0;
  position: relative;
  .service__decor {
    overflow: hidden;
    position: relative;
    width: 100%;
    color: #efebea;
    margin: 0 0 -50px;
  }
  &__item {
    max-width: 300px;
    padding: 0 15px;
    width: 25%;
    z-index:1;
  }
  &-block {
    overflow: hidden;
    padding: 0 10px 37px;
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
    height: 100%;
    box-shadow: 0 7px 20px 6px #eeeef0;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__img {
      margin: 0 -10px 28px;
      img {
        width: 100%;
      }
    }
    &__title {
      font: 15px/1.5 $font2;
      font-weight: bold;
      color: #000;
      text-align: center;
      margin-bottom: 39px;
      flex: 1 0  auto;
      display: flex;
      justify-content: center;
      span {
        position: relative;
        padding: 0 5px 11px;
        display: inline-block;
        &::before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 6px;
          background-image: linear-gradient(to right, #7829de, #a239ca, #4717f6, #7127e2);
        }
      }
    }
    &__link {
      font: 13px/1.5 $font3;
      color: #7551f8;
      position: relative;
      padding-right: 25px;
      transition: font-weight ease .3s;
      width: auto;
      text-align: left;
      display: inline-block;
      &::before {
        position: absolute;
        top: 43%;
        left: calc(100% - 11px);
        transform: translate(-50%, -50%);
        transition: font-weight ease .3s;
      }
      &:hover,
      &:active {
        width: auto;
         font-weight: bold;
         transition: font-weight ease .3s;
         &::before {
           font-weight: bold;
           transition: font-weight ease .3s;
         }
      }
    }
  }
  @media (max-width: 1070px) {
     &-block {
        &__title {
           font-size: 14px;
        }
     }
 }
  @media ($tab-max) {
    margin: 0 -10px 60px;
    flex-wrap: wrap;
    .service__decor{
      margin: 0 0 -30px;
    }
    &__item {
      max-width: 290px;
      padding: 0 10px 20px;
      width: 50%;
    }
  }
  @media ($mob-max) {
    padding: 30px 0 0;
    margin: 0 0 30px;
    .service__decor{
      margin: 0 0 -10px;
    }
    &-block {
      padding: 0 10px 25px;
      &__title{
        margin: 0 0 20px;
      }
      &__img{
        margin: 0 -10px 20px;
      }
    }
  }
  @media (max-width: 540px) {
    &__item {
      max-width: 270px;
      width: 100%;
      padding:0 0 15px;
    }
  }
}
