.mode-work {
  &__title {
    font-size: 14px;
    margin-bottom: 10px;
    display: block;
    color: #fff;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    min-width: 143px;
    margin-bottom: 6px;
    color: #fff;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__days {
    font-size: inherit;
    padding-right: 15px;
  }
  &__time {
    font-size: inherit;
    letter-spacing: 0.5px;
  }
  @media ($mob-max) {
    &__list {
      justify-content: center;
    }
  }
}