.nav {
  position: relative;
  display: flex;
  padding: 0 0 0 191px;
  flex: 1 0 auto;
  align-items: center;
  &-list {
    display: flex;
    flex: 1 0 auto;
    &_header {
      justify-content: space-around;
      flex-direction: row;
      padding-right: 24px;
    }
    &_footer {
      justify-content: flex-start;
      flex-direction: column;
      .nav-list__item {
        flex: 0 0 auto;
        align-items: flex-start;
        padding: 0 0 7px;
        &:not(:first-child){
          padding: 12px 0;
        }
        &:last-child {
          padding: 12px 0 0;
        }
      }
    }
    &__item {
      display: flex;
      flex-direction: column;
      flex: 1 0 auto;
      align-items: center;
    }
    &__link {
      color: #fff;
      font:13px/1.5 $font1;
      letter-spacing: 1.3px;
      &:hover {
        color: #5f36f7;
        text-decoration: none;
      }
    }
  }
  &-btn {
    display: block;
  }
  @media (max-width: 1200px) {
    padding: 0 0 0 70px;
  }
  @media ($tab-max) {
    display: block;
    text-align: right;
    padding: 100px 50px 40px 25px;
    background: #000;
    z-index: 10;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateX(-100%);
    transition: transform ease .3s;
    &-list {
      &_header {
        flex-direction: column;
        padding-right: 0;
        margin-bottom: 20px;
      }
      &__item {
        flex: 0 0 auto;

        padding: 10px 0;
        align-items: flex-end;

        &:nth-child(3),
        &:nth-child(4){
            flex: 0 0 auto;
            align-items: flex-end;
        }
      }
    }
  }
}
