.overlay {
  position: fixed;
  top: 0;
  left: -9999px;
  z-index: 20;
  bottom: 0;
  right: inherit;
  background-color: rgba(0, 0, 0, 0.75);
  opacity: 0;
  transition: opacity ease 1.3s;
  &-active {
    opacity: 1;
    left:0;
    right: 0;
    transition: opacity ease .7s;
  }
}
