@import "vars";

@media only screen and (max-width : 1600px){
	.header {
		padding: 30px 30px 0;
	}
}

@media only screen and (max-width : 1024px){
	
}

@media only screen and (max-width : 768px){
	
}

@media only screen and (max-width : 541px){
	
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	h1, h2{
	    background: none;
	    color: #fcb250;
	}
	.block-gold .holder-gold .title-gold {
		background: none;
	    color: #fcb250;
	    &:hover{
	    	background: none;
	    	color: #fcb250;
	    }
	}
 }
