@import "vars";

@media only screen and (max-width : 1600px){
	.header {
		padding: 30px 30px 0;
	}
	.block-partners {
		margin: 0 0 300px;
	}
	.block-roadmap .gold-right{
		right: 80px;
	}
}

@media (min-width: 1025px) {
  	.nav-holder {
    	display: block !important;
  	}
}

@media (max-width: 1250px) {
	.block-token{
		margin: 0 0 80px;
		.token-img {
			width: 512px;
		    margin: 0 auto;
		}
		.list-token{
			padding: 60px 0 0 0px;
			width: 100%;
		}
	}
}

@media (max-width: 1024px) {
	h1{
		font: 84px/96px $playfair-display;
	}
	h2{
		font:700 50px/62px $playfair-display;
	}
	.header{
		#nav {
		    order: 1;
		    flex-basis: auto;
		    margin: 0 0 20px;
		}
		.logo{
			position: absolute;
			height: auto;
			width: 80px;
			top: 110px;
			left: 50%;
			transform: translateX(-50%);
		}
		.box-btn{
			order: -1;
			flex-basis: auto;
			justify-content: flex-start;
			.link{
				margin: 0 15px;
			}
			.btn-login{
				order: -1;
			    font-size: 14px;
			    line-height: 16px;
			    letter-spacing: 5px;
			    padding: 10px 15px;
			}
		}
	}
	.block-main {
	    padding: 250px 0 0;
	}
  	.toogle-menu{
    
  	}
  	.nav-holder {
    	display: none;
    	position: absolute;
    	left: 0;
    	right: 0;
    	top: 0;
    	width: auto;
    	height: 100vh;
    	z-index: 60;
    	background-color: $body-bg;
    	text-align: center;
    	padding: 0 28px;
  	}
  	.nav-holder .text-center {
    	height: 100vh;
  	}
  	.toogle-menu {
    	display: block;
  	}
  	#header:after {
    	content: "";
    	display: block;
    	clear: both;
  	}
  	#header .wrap {
    	position: static;
  	}
  	.menu {
    	width: 100%;
    	float: none;
    	margin: 0 0 30px;
    	padding: 0;
  	}
  	.menu li,
  	.menu li.last {
    	float: none;
    	position: relative;
    	margin: 0 0 25px;
    	opacity: 0;
    	transform: scale(1.1) translateY(-50px);
    	transition: opacity 0.35s ease-out 0s, transform 0.35s ease-out 0s;
    	transition-delay: 300ms, 300ms;
  	}
  	.menu li {
    	display: block;
    	position: static;
  	}
  	.menu li:last-child {
    	padding: 0 10px;
  	}
  	.menu li:nth-child(5) {
        transition-delay: 250ms, 250ms;
  	}
  	.menu li:nth-child(4) {
        transition-delay: 200ms, 200ms;
  	}
  	.menu li:nth-child(3) {
        transition-delay: 150ms, 150ms;
  	}
  	.menu li:nth-child(2) {
        transition-delay: 100ms, 100ms;
  	}
  	.menu li:nth-child(1) {
        transition-delay: 50ms, 50ms;
  	}
  	.open .menu li {
    	opacity: 1;
        transform: none;
  	}
  	.block-team{
  		margin: 0 0 70px;
  		.holder-team {
		    justify-content: center;
		}
  		.box-team{
  			width: 50%;
  		}
  	}
  	.block-roadmap,{
	    margin: 0 0 80px;
	}
	.block-partners {
		margin: 0 0 120px;
		.holder-partners .box-partners {
	    	margin: 0 40px 30px;
	    }
	}
}

@media only screen and (max-width : 900px){
	.block-roadmap{
		.list-roadmap{
			&:before{
				left: 8px;
				bottom: 0;
				transform: translateX(0);
			}
			&__item{
				&:after{
					height: 20px;
					width: 20px;
					top: 32px;
					left: 0;
    				transform: translateX(0);
    				box-shadow: none;
				}
				&:last-child{
					margin: 0;
				}
				.item-box{
					text-align: left;
					width: 100%;
				}
				p{
					margin: 0 0 10px;
				}
			}
			&__item,
			&__item:nth-child(even){
				.item-box{
					float: none;
					padding: 30px 0 0 50px;
					&:before{
						left: 38px;
					}
					&:after{
						left: 25px;
					}
					br{
						display: none;
					}
				}
			}
			
		}
	}
}

@media only screen and (max-width : 768px){
	h1{
		font: 60px/72px $playfair-display;
	}
	h2{
		font:700 40px/52px $playfair-display;
	}
	.block-main {
	    padding: 200px 0 0;
	}
	.block-about .about-img .icon-video {
	    height: 54px;
	    width: 65px;
	    top: 65px;
	}
	.block-token{
		h2{
			margin: 0 0 50px;
		}
		.token-img {
			width: 260px;
			.number{
				font:700 24px/28px $playfair-display;
				&.num1{
					top: 5px;
	    			right: 30px;
				}
				&.num2{
					right: 0;
				}
				&.num3{
					right: 80px;
    				bottom: 25px;
				}
				&.num4{
					right: 150px;
    				bottom: 25px;
				}
				&.num5{
					right: 200px;
				}
			}
		}
		.list-token {
		    padding: 30px 0 0 0;
		}
	}
	.block-partners{
		margin: 0 0 80px;
		.holder-partners .box-partners {
		    margin: 0 25px 30px;
		}
	}
}

@media only screen and (max-width : 590px){
	.btn {
	    padding: 25px 40px;
	    letter-spacing: 5px;
	}
	h1{
		font: 40px/52px $playfair-display;
	}
	h2{
		font:700 30px/42px $playfair-display;
	}
	.header {
		padding: 20px 20px 0;
	}
	.block-about p{
		font-size: 18px;
	}
	.block-token{
		.list-token__item {
		    margin: 0 0 7px;
		    font-size: 18px;
		}
	}
	.block-team{
  		margin: 0 0 50px;
  		.box-team{
  			width: 100%;
  			&__img {
			    margin: 0 0 20px;
			}
  			&__name {
		   		font-size: 20px;
			}
  		}
  	}
  	.block-roadmap{
  		margin: 0 0 60px;
  		.list-roadmap{
	  		font: 16px/20px $playfair-display;
	  		&__item .item-date{
		  		font:700 20px/24px $main-font;
		  	}
	  	}
  	}
  	.block-partners{
  		h2 {
		    margin: 0 0 45px;
		}
		.holder-partners .box-partners {
			width: 40%;
		    margin: 0 10px 30px;
		}
  	}
}

@media only screen and (max-width : 420px){
	h1{
		font: 36px/42px $playfair-display;
	}
	h2{
		font:700 28px/32px $playfair-display;
	}
	.header .box-btn .link{
		font-size: 13px;
	}
	.block-team .box-team{
  		width: 100%;
  	}
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.block-gold .holder-gold .title-gold {
		background: none;
	    color: #fcb250;
	    &:hover{
	    	background: none;
	    	color: #fcb250;
	    }
	}
 }
