body {
	min-width: 320px;
	font: 12px/1.2 $font1, arial, helvetica, sans-serif;
	color: #888;
	&.hidden{
		overflow: hidden;
	}
	&.visible{
		overflow: visible;
	}
}

* {
	text-decoration: none;
}

button,
[type=reset],
[type=submit],
[type=image],
a {
	-webkit-transition: background-color .2s, color .2s;
	transition: background-color .2s, color .2s;
}


img {
	display: block;
	height: auto;
	max-width: 100%;
}

b,
strong {
	font-weight: 700;
}

i,
em {
	font-style: italic;
}

p {
	margin: 0 0 15px;
}

.lazyload[data-src] {
	opacity: 0;
}

.lazyloaded {
	opacity: 1;
	transition: opacity 0.3s;
}

%list-reset {
	list-style: none;
	margin: 0;
	padding: 0;
}

%clearfix {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

.wrapper{
	overflow: hidden;
}

