$mobile: 320px;
$tablet: 768px;
$desktop: 1025px;
$desktopLarge: 1280;

$font1: 'NotoSans';
$font2: 'Roboto-Regular';
$font3: 'Roboto-Italic';
$font4: 'Roboto-LightItalic';
$font5: 'Roboto-Medium';
$font6: 'Arabella';

$hoverColor:#5f36f7;
$hoverColor2:#a239ca;


$mob-max: "max-width: 767px";
$mob-min: "min-width: 320px";
$tab-max: "max-width: 1024px";
$tab-min: "min-width: 768px";
$desk-min: "min-width: 1025px";
$deskLarge-min: "max-width: 1280px";