
/* Typography */
$main-font: 'Roboto', arial, helvetica, sans-serif;
$font-size-base: 14px;
$line-height-base: 18px;

/*Background*/
$body-bg: #fff;

/*Color text*/
$text-color: #000;
$link-color: #000;
$placeholder-color: #000;
