@import "vars";
@import "fonts";

*{
	box-sizing: border-box;
}

html,body {
	height: 100%;
	margin: 0;
}
body{
	background: $body-bg;
	min-width: 320px;
	margin: 0;
	color: $text-color;
	font-family: $main-font;
	font-size: $font-size-base;
	line-height: $line-height-base;
	-webkit-text-size-adjust: 100%;
}

form, fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}

img {
	border-style: none;
	vertical-align: top;
}

input, select, textarea {
	vertical-align: middle;
	font-family: $main-font;
	font-size: $font-size-base;
	line-height: $line-height-base;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

a{
	color: $link-color;
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	&:focus,
	&:hover {
		outline: none;
		outline: 0;
	}
}

a[href^="tel"],
a[href^="tel"]:hover {
	cursor: default;
	text-decoration: none;
	white-space: nowrap;
	
	border: none;
}
button{
	border: 0;
	outline: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display:block;}
figure{margin:0;}
input::-moz-focus-inner,
textarea::-moz-focus-inner,
button::-moz-focus-inner{
	border: 0;
	outline: 0;
	padding: 0;
	margin: 0;
}

input[type="text"],
input[type="email"], 
input[type="password"],
textarea{
	width: 100%;
	padding: 14px 18px;
	font:500 14px/18px $main-font;
	color: $text-color;
	border: 0;
	outline: 0;
	box-sizing: border-box;
	-webkit-appearance: none;
	&:focus{
		outline: 0;
	}
}

.container{
	max-width: 1150px;
	margin: 0 auto;
	padding: 0 20px;
	&:after {
		content: "";
		display: block;
		clear: both;
	}
}


/* placeholder input*/
input:-moz-placeholder {
	color: $placeholder-color;
	opacity: 1;
}
input::-moz-placeholder {
	color: $placeholder-color;
	opacity: 1;
}
input::-webkit-input-placeholder {color: $placeholder-color;}
input:-ms-input-placeholder {color: $placeholder-color;}

/* input:focus placeholder */
input:focus:-moz-placeholder {
	color: $placeholder-color;
	opacity: 1;
}
input:focus::-moz-placeholder {
	color: $placeholder-color;
	opacity: 1;
}
input:focus::-webkit-input-placeholder {color: $placeholder-color;}
input:focus:-ms-input-placeholder {color: $placeholder-color;}

@import "media"; // Always at the end
