
/* Typography */
$main-font: "Roboto", arial, helvetica, sans-serif;
$RobotoRegular: "RobotoRegular";
$RobotoCondensedLight: "RobotoCondensedLight";
$RobotoBlack: "RobotoBlack";
$KazmannSans: "KazmannSans";
$ImperialOne: "ImperialOne";

$font-size-base: 16px;
$line-height-base: 30px;

/*Background*/
$body-bg: #fff;

/*Color text*/
$text-color: #181818;
$link-color: #000;
$white-color: #fff;
$red-color: #e42c34;
$placeholder-color: #808080;
