
/* Typography */
$main-font: "RobotoRegular", arial, helvetica, sans-serif;
$drugs-regular: "DrugsRegular";
$champions-regular: "ChampionsRegular";
$champions-bold: "ChampionsBold";
$font-size-base: 18px;
$line-height-base: 24px;


/*Background*/
$body-bg: #fff;

/*Color*/

$text-color: #fff;
$link-color: #fff;
$logo-color: #5b2a3d;
$white-color: #fff;
$red-color: #c35f5a;
$yellow-color: #f5d223;
$gray-color: #787878;
$light-gray-color: #f0f0f0;
$brown-color: #463119;
$btn-color: #28190f;
$light-black-color: #3c3c3c;
$dark-black-color: #282828;
$dark-blue-color: #5a6e82;
$input-color: #b47846;