
/* Typography */
$main-font: 'Montserrat', sans-serif;
$font-size-base: 24px;
$line-height-base: 36px;

$playfair-display: 'Playfair Display', serif;

/*Background*/
$body-bg: #000;

/*Color text*/
$text-color: #fff;
$link-color: #fff;
$white-color: #fff;
$gold-color: #F7D673;
$gold-dark-color:#E8B840;
$yellow-color: #F8C810;
