@import "vars";

@media only screen and (max-width : 1200px){
	.product-descr .list-tabs__item {
	    padding: 10px 20px;
	}
}

@media only screen and (max-width : 1024px){
	.nav-holder {
		display: none;
		text-align: center;
	    position: absolute;
	    background-color: $white-color;
	    overflow-y: auto;
	    width: auto;
	    height: 100vh;
	    padding: 0 20px;
	    top: 100%;
	    left: 0;
	    right: 0;
	    z-index: 60;
	}
	.nav-holder .text-center {
	    height: 100vh;
	}
	.toogle-menu{
		position: relative;
		display: block;
		width: 30px;
		height: 25px;
		cursor: pointer;
		&__icon{
			position: absolute;
			fill: #333;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			&-close{
				opacity: 0;
				visibility: hidden;
			}
		}
	}
	.header{
		&.open{
			.toogle-menu__icon{
				opacity: 0;
				visibility: hidden;
				&-close{
					opacity: 1;
					visibility: visible;
				}
			}
		}
		.list-nav {
			flex-direction: column;
		    padding: 0;
		    &__item{
		    	position: relative;
		    	margin: 0;
			    opacity: 0;
			    transform: scale(1.1) translateY(-50px);
			    transition: opacity 0.35s ease-out 0s, transform 0.35s ease-out 0s;
		    }
		    &__item:nth-child(8) {
			    transition-delay: 450ms, 450ms;
			}
		    &__item:nth-child(7) {
			    transition-delay: 400ms, 400ms;
			}
		    &__item:nth-child(6) {
			    transition-delay: 300ms, 300ms;
			}
		    &__item:nth-child(5) {
			    transition-delay: 250ms, 250ms;
			}
			&__item:nth-child(4) {
			    transition-delay: 200ms, 200ms;
			}
			&__item:nth-child(3) {
			    transition-delay: 150ms, 150ms;
			}
			&__item:nth-child(2) {
			    transition-delay: 100ms, 100ms;
			}
			&__item:nth-child(1) {
			    transition-delay: 50ms, 50ms;
			}
			&__link,
			&__item:last-child .list-nav__link{
				padding: 7px 15px;
			}
		}
	}
	.open .list-nav li {
	    opacity: 1;
	    transform: none;
	}

	.header-top__holder{
		flex-direction: column;
		.list-info{
			text-align: center;
			justify-content: center;
			&__item{
				margin: 0 10px 10px;
				&:first-child{
					width: 100%;
				}
			}
		}
	}
	.logo {
	    width: 62px;
	    height: 63px;
	}
	.box-nav .search-form {
	    order: -1;
	    max-width: 100%;
	    margin: 0 0 20px;
	}
	.product-carousel{
		width: 100%;
	}
	.product-descr{
		width: 100%;
		padding: 0;
	}
	.owl-slider .owl-carousel__img {
	    height: 350px;
	}
	.tabs-descr .list-tabs__item{
		width: 33.3%;
	}
	.box-product{
		width: calc(33.3% - 24px);
	}
	.sale {
	    margin: 0 -12px 50px;
	}
	.footer{
		padding: 20px 0 10px;
		.logo {
			margin: 0 auto 15px;
		}
		.list-nav{
			justify-content: center;
			padding: 0;
			&__item,
			&__item:nth-child(even){
				width: auto;
				margin: 0 10px 10px;
			}
		}
		.list-info{
			text-align: center;
			justify-content: center;
			padding: 0;
			&__item{
				width: 100%;
				&:first-child{
					width: 100%;
				}
			}
			&__hold{
				width: auto;
				display: inline-block;
				vertical-align: top;
				margin: 0 10px;
			}
		}
		.hold-subscribe{
			text-align: center;
			max-width: 280px;
			padding: 0;
			margin: 0 auto;
		}
	}
	.footer-box,
	.footer-box:first-child,
	.footer-box:nth-child(2){
		width: 100%;
	}
	.list-course,
	.list-social{
		justify-content: center;
	}
	

}

@media only screen and (max-width : 768px){
	body {
	    font-size: 16px;
	    line-height: 22px;
	}
	h1 {
	    font:500 22px/26px $main-font;
	}
	p {
	    margin: 0 0 15px;
	}
	.box-categories__title{
		font:400 14px/16px $main-font;
		padding: 12px 60px;
	}
	.box-categories__list{
		font:400 12px/16px $main-font;
	}
	.list-links{
		&__icon{
			margin: 0 auto;
		}
		&__text{
			display: none;
		}
	}
	.list-breadcrumbs{
		display: none;
	}
	.owl-trumbs__item {
	    height: 120px;
	    padding: 5px;
	}
	.product-carousel .product-links {
	    margin: 0 0 10px;
	}
	.product-links__box{
		font:400 16px/20px $main-font;
		margin: 0 20px 10px 0;
	}
	.product-links__link{
		margin: 0 0 0 8px;
	}
	.product-descr__code {
	    margin: 0 0 10px;
	}
	.product-descr__price{
		font:500 22px/26px $main-font;
	}
	.product-descr .hold-buttons {
	    margin: 0 0 20px;
	}
	.tabs-descr .list-tabs__item {
	    width: 50%;
	    font:400 14px/16px $main-font;
	    &:nth-child(even) .list-tabs__text:after{
	    	display: none;
	    }
	}
	.tabs-descr{
		margin: 0 0 50px;
		.list-tabs__text-icon {
		    width: 14px;
		    height: 20px;
		}
	}
	.tab-line {
	    font:400 14px/16px $main-font;
	    margin: 5px 0 15px;
	}
	.box-product{
		width: calc(50% - 24px);
		&__img {
			height: 160px;
		}
	}
}

@media only screen and (max-width : 540px){
	h1 {
	    font:500 20px/24px $main-font;
	}
	.header {
	    font:300 12px/16px $main-font;
	}
	.hold-buttons{
		justify-content: center;
		.btn {
			font-size: 0;
			line-height: 0;
			padding: 10px;
		    margin: 0 15px 10px 0;
		}
		.btn-red .btn-icon,
		.btn-blue .btn-icon{
			position: static;
			top: 0;
			left: auto;
			transform: translateY(0);
		}
	}
	.header .list-links{
		order: -1;
		justify-content: center;
		width: 100%;
		margin: 0 0 10px;
		&__item{
			margin: 0 15px 10px;
		}
	}
	.logo {
	    width: 52px;
	    height: 53px;
	}
	.search-form__input[type=text] {
	    height: 34px;
	    padding: 9px 15px;
	    font:400 14px/16px $main-font;
	}
	.search-form__button {
	    min-width: 60px;
	    padding: 7px 0 6px;
	    &-icon {
		    width: 17px;
		    height: 18px;
		}
	}
	.list-links__icon {
	    width: 25px;
	}
	.box-nav .box-categories{
		width: 100%;
		&__title{
			width: 100%;
		}
	}
	.owl-slider .owl-carousel__img {
	    height: 275px;
	}
	.owl-trumbs__item {
	    height: 60px;
	}
	.product-links__box{
		font:400 14px/18px $main-font;
	}
	.list-tabs__item {
	    width: 50%;
	}
	.tab-line {
	    font:400 12px/14px $main-font;
	}
	.box-product{
		width: calc(100% - 24px);
		&__img {
			height: 120px;
		}
		.box-product__title {
    		min-height: auto;
    	}
		&__price {
		    margin: 0 0 15px;
		}
	}
	.sale {
	    margin: 0 -12px 20px;
	}
}

