
/* Typography */
$main-font: 'Rubik', arial, helvetica, sans-serif;
$font-size-base: 18px;
$line-height-base: 25px;

/*Background*/
$body-bg: #fff;

/*Color text*/
$text-color: #333333;
$link-color: #333333;
$white-color: #fff;
$red-color: #D82F14;
$blue-color: #244690;
$gray-color: #707070;
$placeholder-color: #707070;
