.list-menu{
	position: absolute;
	display: flex;
	background: $color-black;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	&__item{
		display: flex;
		justify-content: center;
		width: 50%;
		padding: 5%;
		cursor: pointer;
		&:not(:last-child){
			border-right: 2px solid #303030;
		}
		&-search{
			display: none;
			.list-menu__icon{
				svg,
				rect{
					fill: #484848;
				}
			}
		}
	}
	&__icon{
		position: relative;
		height: 1.7vw;
    	width: 1.7vw;
		svg,
		rect{
			fill: $color-white;
			height: 100%;
			width: 100%;
		}
		.icon-chat__number{
			position: absolute;
			display: flex;
			justify-content: center;
    		align-items: center;
			background: $color-pink;
			height: 1.25vw;
			width: 1.25vw;
			font: 0.42rem/1 "RalewayBold";
			border-radius: 50%;
			top: -20%;
    		right: -45%;
		}
	}
}

@media (max-width: 1023px) {
	.list-menu{
		&__item{
			width: 40%;
			&:first-child,
			&:last-child{
				width: 30%;
			}
			&-search{
				display: flex;
			}
		}
		&__icon{
			height: 10vw;
	    	width: 10vw;
			.icon-chat__number{
				height: 5vw;
				width: 5vw;
				font: 0.7rem/1 "RalewayBold";
				top: -25%;
    			right: -25%;
			}
		}
	}
}

@media (max-height: 479px) {
	.list-menu{
		&__item{
			padding: 2%;
		}
		&__icon{
			height: 6vw;
    		width: 6vw;
			.icon-chat__number{
				height: 5vw;
				width: 5vw;
				font: 0.7rem/1 "RalewayBold";
				top: -25%;
    			right: -25%;
			}
		}
	}
}