.form-row {
	margin-bottom: 10px;
}

.text-field {
	border: 1px solid #a9a9a9;
	padding: 0 8px;
	color: #a9a9a9;
	font-size: 16px;
	font-weight: normal;
	height: 44px;
	width: 100%;
}

textarea {
	&.text-field {
		height: 72px;
		padding: 8px;
		display: block;
	}
}