
/* Typography */
$main-font: 'Montserrat', sans-serif;
$font-size-base: 14px;
$line-height-base: 18px;

/*Background*/
$body-bg: #201C24;

/*Color text*/
$text-color: #fff;
$link-color: #fff;
$placeholder-color: #000;
$white-color: #fff;
$black-color: #000;
$dark-color: #0C0C0C;