
/* Typography */
$main-font: "PlayfairDisplayRegular", arial, helvetica, sans-serif;
$JosefinSansThin: "JosefinSansThin";
$JosefinSansLight: "JosefinSansLight";
$JosefinSansBold: "JosefinSansBold";

$font-size-base: 18px;
$line-height-base: 24px;

/*Background*/
$body-bg: #100201;

/*Color text*/
$text-color: #fff;
$link-color: #fcb250;
$white-color: #fff;
$gold-color: #0B2349;
$brown-color: #947444;
$placeholder-color: #808080;
