html,
body {
  height: 100%;
}

body {
	min-width: 320px;
	font: 18px/1.5 Roboto, helvetica, sans-serif;
	font-weight: 300;
	color: $dark-grey;
}

a {
  text-decoration: none;
}

button,
[type=reset],
[type=submit],
[type=image],
a {
	-webkit-transition: background-color .2s, color .2s;
	transition: background-color .2s, color .2s;
}

img {
	display: block;
	height: auto;
	max-width: 100%;
}

b,
strong {
	font-weight: 700;
}

i,
em {
	font-style: italic;
}

p {
	margin: 0 0 15px;
}

.lazyload[data-src] {
	opacity: 0;
}

.lazyloaded {
	opacity: 1;
	transition: opacity 0.3s;
}

%list-reset {
	list-style: none;
	margin: 0;
	padding: 0;
}

%clearfix {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

h2 {
	font-size: 50px;
	line-height: 1.1;
	margin: 0 0 30px;
	font-weight: 300;
	&.title-decor {
		margin-bottom: 25px;
		position: relative;
		&:before {
			width: 110px;
			height: 1px;
			background: $green;
			position:absolute;
			bottom: -10px;
			left:0;
			content: '';
		}
		&-c {
			&:before {
				left: 50%;
				transform: translate(-50%, 0);
			}
		}
	}
}

h3 {
	font-size: 36px;
	line-height: 1.1;
	margin: 0 0 30px;
	font-weight: 300;

	&.h-big {
		font-size: 40px;
		font-weight: 600;
		span{
			display: block;
			margin: 0 0 15px;
		}
	}
}

.row {
	margin-right: -11px;
	margin-left: -11px;
}

.open-modal {
	overflow: hidden;
}

@media (max-width: 767px) {
	body {
		font-size: 15px;
	}
	h2 {
		font-size: 36px;
	}
	h3 {
		font-size: 24px;

		&.h-big {
			font-size: 30px;
			font-weight: 600;
		}
	}
}

.arrow-up {
	position: fixed;
	bottom: 70px;
	right: 20px;
	z-index: 100;
	display: inline-block;
	width: 40px;
	height: 40px;
	padding: 11px 7px;
	background: rgba(165, 197, 39, 0.6);
	border: 1px solid #fff;
	margin: 0 auto;
	transition: background 0.5s ease;

	&.hidden {
		display: none;
	}

	&:hover {
		background: #a5c527;
	}

	@media (max-width: 767px) {
		display: none;
	}

	.arrow-icon {
		position: relative;
		display: block;
		width: 24px;
		height: 16px;
		background-image: url("../img/arrow-down.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		transform: rotate(180deg);
	}
}